<%- include('header'); -%>


  <div class="box" id=heading>
    <h1> <%= listTitle %> </h1>
  </div>
  <div class="date">
    <h5> <%= listDate %> </h5>
  </div>

  <div class="box bodycontent">


    <% newListItems.forEach(function (i) { %>

      <form class="" action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=i._id%>" onChange="this.form.submit()">
          <p><%= i.name %></p>
        </div>
        <input type="hidden" name="listName" value=<%= listTitle %> ></input>
        <input type="hidden" name="itemName" value=<%= i.name %> ></input>
      </form>

    <% }); %>




    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

<%- include('footer'); -%>
